In [3]:
import pandas as pd

df = pd.read_csv('http://www.ppgia.pucpr.br/~jean.barddal/datascience/enron.csv')

In [4]:
df.head(5)

       bonus  deferral_payments  ...  total_stock_value                name
0  4175000.0          2869717.0  ...          1729541.0     ALLEN PHILLIP K
1        NaN           178980.0  ...           257817.0       BADUM JAMES P
2        NaN                NaN  ...          5243487.0  BANNANTINE JAMES M
3  1200000.0          1295738.0  ...         10623258.0       BAXTER JOHN C
4   400000.0           260455.0  ...            63014.0      BAY FRANKLIN R

[5 rows x 22 columns]

In [14]:
# Método de Tukey

# 1) passo: obter colunas númericas
# 2) passo: Criar uma lista para os outlier identificados durante o processo
# 3) passo: um laço de repeticao, incrementando a lista acima de outliers a cada variavel
# 4) passo: Analisar os outliers mais frequentes



# todos os indices marcados como outliers
outliers_global = []

# laco de repitacao por coluna
for col in df.select_dtypes(include="number").columns.values:


  #calculando o método de tukey para a coluna col


  #calculando os quartis (Q3 e Q1)
  q1 = df[col].quantile(0.25)
  q3 = df[col].quantile(0.75)

  # Calculando o intervalo inter-quartis
  iqr = q3 - q1

  #Calculando limites superiores e inferiores
  sup = q3 + 1.5 * iqr
  inf = q1 - 1.5 * iqr

  #Selecionando valores externos ao intervalo (i.e.,>sup ou < inf)
  ix_outliers_col = list(df[(df[col] > sup) | (df[col] < inf)].index)

  #adicionando os indices desta coluna a lista global
  outliers_global.extend(ix_outliers_col)
  #for ix in ix_outliers_col:
    #outliers_global.append(ix)

#  print(outliers_global)
  from collections import Counter   
  for ix, contagem in Counter(outliers_global).most_common(10):     
    print(f"{ix} \t {contagem} \t {df.loc[ix]['name']} ")

0 	 1 	 ALLEN PHILLIP K
7 	 1 	 BELDEN TIMOTHY N
31 	 1 	 DELAINEY DAVID W
42 	 1 	 FALLON JAMES B
75 	 1 	 KITCHEN LOUISE
78 	 1 	 LAVORATO JOHN J
79 	 1 	 LAY KENNETH L
91 	 1 	 MCMAHON JEFFREY
122 	 1 	 SKILLING JEFFREY K
130 	 1 	 TOTAL
0 	 2 	 ALLEN PHILLIP K
130 	 2 	 TOTAL
7 	 1 	 BELDEN TIMOTHY N
31 	 1 	 DELAINEY DAVID W
42 	 1 	 FALLON JAMES B
75 	 1 	 KITCHEN LOUISE
78 	 1 	 LAVORATO JOHN J
79 	 1 	 LAY KENNETH L
91 	 1 	 MCMAHON JEFFREY
122 	 1 	 SKILLING JEFFREY K
0 	 3 	 ALLEN PHILLIP K
130 	 3 	 TOTAL
7 	 2 	 BELDEN TIMOTHY N
47 	 2 	 FREVERT MARK A
31 	 1 	 DELAINEY DAVID W
42 	 1 	 FALLON JAMES B
75 	 1 	 KITCHEN LOUISE
78 	 1 	 LAVORATO JOHN J
79 	 1 	 LAY KENNETH L
91 	 1 	 MCMAHON JEFFREY
130 	 4 	 TOTAL
0 	 3 	 ALLEN PHILLIP K
7 	 2 	 BELDEN TIMOTHY N
47 	 2 	 FREVERT MARK A
31 	 1 	 DELAINEY DAVID W
42 	 1 	 FALLON JAMES B
75 	 1 	 KITCHEN LOUISE
78 	 1 	 LAVORATO JOHN J
79 	 1 	 LAY KENNETH L
91 	 1 	 MCMAHON JEFFREY
130 	 5 	 TOTAL
0 	 3 	 ALLEN PHILLIP K
47 	 3 	 FREVERT MARK A
7 	 2 	 BELDEN TIMOTHY N
79 	 2 	 LAY KENNETH L
122 	 2 	 SKILLING JEFFREY K
112 	 2 	 RICE KENNETH D
31 	 1 	 DELAINEY DAVID W
42 	 1 	 FALLON JAMES B
75 	 1 	 KITCHEN LOUISE
130 	 6 	 TOTAL
0 	 3 	 ALLEN PHILLIP K
47 	 3 	 FREVERT MARK A
7 	 2 	 BELDEN TIMOTHY N
79 	 2 	 LAY KENNETH L
122 	 2 	 SKILLING JEFFREY K
112 	 2 	 RICE KENNETH D
132 	 2 	 URQUHART JOHN A
31 	 1 	 DELAINEY DAVID W
42 	 1 	 FALLON JAMES B
130 	 6 	 TOTAL
0 	 4 	 ALLEN PHILLIP K
7 	 3 	 BELDEN TIMOTHY N
47 	 3 	 FREVERT MARK A
31 	 2 	 DELAINEY DAVID W
75 	 2 	 KITCHEN LOUISE
78 	 2 	 LAVORATO JOHN J
79 	 2 	 LAY KENNETH L
122 	 2 	 SKILLING JEFFREY K
139 	 2 	 WHALLEY LAWRENCE G
130 	 6 	 TOTAL
0 	 4 	 ALLEN PHILLIP K
7 	 4 	 BELDEN TIMOTHY N
47 	 4 	 FREVERT MARK A
75 	 3 	 KITCHEN LOUISE
78 	 3 	 LAVORATO JOHN J
139 	 3 	 WHALLEY LAWRENCE G
31 	 2 	 DELAINEY DAVID W
79 	 2 	 LAY KENNETH L
122 	 2 	 SKILLING JEFFREY K
130 	 6 	 TOTAL
0 	 5 	 ALLEN PHILLIP K
7 	 5 	 BELDEN TIMOTHY N
75 	 4 	 KITCHEN LOUISE
78 	 4 	 LAVORATO JOHN J
47 	 4 	 FREVERT MARK A
31 	 3 	 DELAINEY DAVID W
139 	 3 	 WHALLEY LAWRENCE G
116 	 3 	 SHANKMAN JEFFREY A
58 	 3 	 HAEDICKE MARK E
130 	 6 	 TOTAL
0 	 5 	 ALLEN PHILLIP K
7 	 5 	 BELDEN TIMOTHY N
75 	 4 	 KITCHEN LOUISE
78 	 4 	 LAVORATO JOHN J
47 	 4 	 FREVERT MARK A
31 	 3 	 DELAINEY DAVID W
139 	 3 	 WHALLEY LAWRENCE G
116 	 3 	 SHANKMAN JEFFREY A
58 	 3 	 HAEDICKE MARK E
130 	 7 	 TOTAL
0 	 5 	 ALLEN PHILLIP K
7 	 5 	 BELDEN TIMOTHY N
78 	 5 	 LAVORATO JOHN J
75 	 4 	 KITCHEN LOUISE
47 	 4 	 FREVERT MARK A
31 	 3 	 DELAINEY DAVID W
79 	 3 	 LAY KENNETH L
139 	 3 	 WHALLEY LAWRENCE G
116 	 3 	 SHANKMAN JEFFREY A
130 	 8 	 TOTAL
0 	 5 	 ALLEN PHILLIP K
7 	 5 	 BELDEN TIMOTHY N
78 	 5 	 LAVORATO JOHN J
47 	 5 	 FREVERT MARK A
75 	 4 	 KITCHEN LOUISE
79 	 4 	 LAY KENNETH L
31 	 3 	 DELAINEY DAVID W
139 	 3 	 WHALLEY LAWRENCE G
116 	 3 	 SHANKMAN JEFFREY A
130 	 9 	 TOTAL
47 	 6 	 FREVERT MARK A
0 	 5 	 ALLEN PHILLIP K
7 	 5 	 BELDEN TIMOTHY N
78 	 5 	 LAVORATO JOHN J
79 	 5 	 LAY KENNETH L
75 	 4 	 KITCHEN LOUISE
139 	 4 	 WHALLEY LAWRENCE G
31 	 3 	 DELAINEY DAVID W
122 	 3 	 SKILLING JEFFREY K
130 	 10 	 TOTAL
47 	 6 	 FREVERT MARK A
0 	 5 	 ALLEN PHILLIP K
7 	 5 	 BELDEN TIMOTHY N
78 	 5 	 LAVORATO JOHN J
79 	 5 	 LAY KENNETH L
75 	 4 	 KITCHEN LOUISE
139 	 4 	 WHALLEY LAWRENCE G
31 	 3 	 DELAINEY DAVID W
122 	 3 	 SKILLING JEFFREY K
130 	 11 	 TOTAL
47 	 7 	 FREVERT MARK A
79 	 6 	 LAY KENNETH L
0 	 5 	 ALLEN PHILLIP K
7 	 5 	 BELDEN TIMOTHY N
78 	 5 	 LAVORATO JOHN J
139 	 5 	 WHALLEY LAWRENCE G
75 	 4 	 KITCHEN LOUISE
122 	 4 	 SKILLING JEFFREY K
32 	 4 	 DERRICK JR. JAMES V
130 	 11 	 TOTAL
47 	 7 	 FREVERT MARK A
7 	 6 	 BELDEN TIMOTHY N
79 	 6 	 LAY KENNETH L
0 	 5 	 ALLEN PHILLIP K
78 	 5 	 LAVORATO JOHN J
139 	 5 	 WHALLEY LAWRENCE G
75 	 4 	 KITCHEN LOUISE
122 	 4 	 SKILLING JEFFREY K
32 	 4 	 DERRICK JR. JAMES V
130 	 11 	 TOTAL
7 	 7 	 BELDEN TIMOTHY N
47 	 7 	 FREVERT MARK A
78 	 6 	 LAVORATO JOHN J
79 	 6 	 LAY KENNETH L
139 	 6 	 WHALLEY LAWRENCE G
0 	 5 	 ALLEN PHILLIP K
75 	 5 	 KITCHEN LOUISE
122 	 4 	 SKILLING JEFFREY K
32 	 4 	 DERRICK JR. JAMES V
130 	 12 	 TOTAL
7 	 8 	 BELDEN TIMOTHY N
47 	 8 	 FREVERT MARK A
78 	 7 	 LAVORATO JOHN J
79 	 7 	 LAY KENNETH L
139 	 7 	 WHALLEY LAWRENCE G
0 	 5 	 ALLEN PHILLIP K
75 	 5 	 KITCHEN LOUISE
122 	 5 	 SKILLING JEFFREY K
31 	 4 	 DELAINEY DAVID W
130 	 13 	 TOTAL
47 	 9 	 FREVERT MARK A
7 	 8 	 BELDEN TIMOTHY N
79 	 8 	 LAY KENNETH L
78 	 7 	 LAVORATO JOHN J
139 	 7 	 WHALLEY LAWRENCE G
122 	 6 	 SKILLING JEFFREY K
0 	 5 	 ALLEN PHILLIP K
75 	 5 	 KITCHEN LOUISE
3 	 5 	 BAXTER JOHN C

In [19]:
from sklearn.ensemble import IsolationForest

# selecionando apenas colunas numericas
df_num = df.select_dtypes(include='number')

# imputando base de dados com a media
df_num.fillna(df_num.mean(),inplace=True)

# criar o modelo de isolation Forest
isof = IsolationForest(random_state=101)
isof.fit(df_num)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

IsolationForest(behaviour='deprecated', bootstrap=False, contamination='auto',
                max_features=1.0, max_samples='auto', n_estimators=100,
                n_jobs=None, random_state=101, verbose=0, warm_start=False)

In [24]:
# Predicao (inlier ou outlier)
df['inlier'] = isof.predict(df_num)

In [23]:
#mostrando os outliers
df[df['inlier'] == -1]

          bonus  deferral_payments  ...             name  inlier
47    2000000.0          6426990.0  ...   FREVERT MARK A      -1
73    1000000.0                NaN  ...    KEAN STEVEN J      -1
78    8000000.0                NaN  ...  LAVORATO JOHN J      -1
79    7000000.0           202911.0  ...    LAY KENNETH L      -1
130  97343619.0         32083396.0  ...            TOTAL      -1

[5 rows x 23 columns]

In [ ]:
isof.score_samples(df_num)